<footer class="footer">
	<small>
		<li>LearnNews Inc</li> by Zhao Yue and Zheng Naijia, 2014
	</small>
	<nav>
		<ul>
			<li>About</li>
			<li>Contact US</li>
			<li>Careers</li>
		<ul>
	</nav>
</footer>