<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<b id='logo'>LearnNews</b>
			<nav>
				<ul class="nav pull-right">
					<%= @user.user_name %>
				</ul>
			</nav>
		</div>
	</div>
</header>