<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<b>LearnNews</b>
			<nav>
				<ul class="nav pull-right">
					User Profile Page
				</ul>
				<button type="button" class="btn btn-default navbar-btn">Sign in</button>
			</nav>
		</div>
	</div>
</header>